body {
	background-color: var(--background);
	color: white;
}
/* contenedor de todo el home */
.wrapper-home{
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	align-items: start;
	justify-content: space-between;
	height: 100vh;
	gap: 20px;
}
.wrapper-home{
	padding: 1.5rem;
}

.main-home{
	width: 70%;
}

.post > h2, .publicidad h2{
	color: var(--titulo);
	letter-spacing: 1px;
}

.home h1{
	font-size: 2rem;
	font-weight: bold;
	color: #EF0070;
	padding-bottom: .5em;
}
.post{
	margin-bottom: 1em;
	background: #07012b;
	padding: .5em 1em;
	border-radius: 8px;
}
.post > h2, .post > p{
	padding-bottom: 0.3em;
}
.post p:last-child{
	color: var(--date);
}
.post > p{
	font-size: 1.1rem;
}

/* estilos aside */
.aside-home{
	width: 25%;
}
.aside-home hr{
	border-top: 1px solid var(--white);
	width: 100%;
	margin-bottom: 1em;
}
.publicidad img{
	width: 100%;
}
@media (max-width: 768px){
	.wrapper-home{
		flex-direction: column;
	}
	.main-home{
		width: 100%;
	}
	.aside-home{
		display: none;
	}
}