.sectionLogin {
    max-width: 500px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: #EF0070;
}
.sectionLogin h2{
	color: var(--titulo);
    font-size: 3em;
}
.sectionLogin__form {
    width: 400px;
    color: #07012b;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 5px;
    background: white
}
.sectionLogin__labels{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.sectionLogin__labels label {
    margin-bottom: 10px
}

.sectionLogin__labels input {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #EF0070;
}

.sectionLogin__btn {
    font-size: 1em;
    color: white;
    padding: .5rem;
    margin: 1rem auto;
    border-radius: 15px;
    width: 50%;
    background: #07012b;
    border: 1px solid #07012b;
}
.sectionLogin__btn:hover {
    color: white;
    font-weight: bold;
    background: #EF0070;
    border: 1px solid #EF0070;
}
.sectionLogin__p {
    color: white;
    margin-bottom: 15px;
}

.sectionLogin__p a {
    text-decoration: none;
    color: #07012b;
}