
.registro {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    max-width: 500px;
}
.registro__h2 {
    color: #FFFFFF;
    margin: auto;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}
/*
.sectionLogin__input:focus {
    border: 1px solid red;
}
*/
